*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul{
    list-style-type: none;
}

h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}

a{
    text-decoration: none;
    display: inline-block;
}

img{
    display: block;
}

.container{
    max-width: 1194px;
}
/* ====================================== */

/* =========== Navbar part start ================ */

nav{
    padding: 15px 0;
}

nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .container .menu_bar{
    display: flex;
    column-gap: 88px;
}

nav .container .menu_bar .logo a{
    color: #0D0E43;
    font-family: Josefin Sans;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

nav .container ul{
    display: flex;
    column-gap: 35px;
    margin: 0;
}

nav .container ul .active{
    color: #FB2E86;
}

nav .container ul a{
    color: #0D0E43;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    transition: .4s;
}

nav .container ul a:hover{
    color: #FB2E86;
}

nav .container ul form input{
    width: 317px;
    padding: 5px 55px 5px 5px !important;
    background: #fff;
    border: 2px solid #E7E6EF;
    outline: 0;
}

nav .container form{
    position: relative;
}

nav .container form i{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background: #FB2E86;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 13px;
    cursor: pointer;
}
/* =========== Navbar part End ================ */

/* =========== Banner part start ================ */

#banner_part{
    background: url(../images/Banner_bg_img.png) no-repeat center / cover;
}

#banner_part .container{
    padding: 203px 0 236px;
}

#banner_part span{
    color: var(--Accent, #FB2E86);
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 175% */
}

#banner_part h1{
    color: #000;
    font-family: Josefin Sans;
    font-size: 53px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.795px; 
    width: 645px;
    margin: 12px 0;
}

#banner_part p{
    color: var(--sub-text-color, #8A8FB9);
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    width: 559px;
    margin-bottom: 27px;
}

#banner_part a{
    color: #FFF;
    font-family: Josefin Sans;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.34px;
    background: #FB2E86;
    padding: 16px 40px;
}
/* =========== Banner part End ================ */

/* ======== Featured Products part start ================ */

/* ======== Featured Products part End  ================ */
